body{
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: #ffe4b2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}
button{
  height: 100%;
  width: 100%;
  background-color: inherit;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  border-radius: 10px;
}
.all{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  margin: 3px;
}
.all:active{
  box-shadow: none;
  top: 3px;
}
.container{
  width: 90%;
  height: 70%;
  margin:20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr) ;
  grid-gap:6px;
}

.display{
  border: 1px #396372 solid;
  background-color: #396372;
  grid-column: 1/4;
  border-radius: 5px;
  color: #fff;
  font-size: 2em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: auto;
  }

  .display::-webkit-scrollbar {
      display: none;
    }

.ac{
  background-color: #99b28e;
  grid-column: 4/-1;
  text-transform: uppercase;
  font-size: 1em;
  margin: 10px;
  box-shadow: 0 3px #62725b;
}

.num{
  background-color: #ea7e54;
  box-shadow: 0 3px #af5728;
}

.op{
  background-color: #846372;
  box-shadow: 0 3px #4c3841;
}

.equals{
  background-color: #99b28e;
  font-size: 3em;
  box-shadow: 0 3px #62725b;
  margin: 10px;
  grid-column: 1/5;
}
.red{
  border: 2px solid #EA561C;
  box-shadow: 0 0 10px #ea7e54;
  animation: shake 0.5s;
}

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
@media(min-width: 400px){
  .container{
    width: 400px;
    height:550px;
  }
}
